<html lang="zh-cn">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content = {Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <body>
        <a href="/">首页</a>
        <a href="/about/">关于</a>
        <a href="/blog/">自我介绍</a>

        <h1>自我介绍</h1>
        <h2>与一段自我独白</h2>
      
        <p>这是我的测试网站，现在，你有什么建议吗？</p>
      
        <p>如你所见，它还不完善，不过，总会有一天会慢慢完善的。</p>
      </body>
  </body>
</html>